@model IEnumerable<LeaveManagment.Models.LeaveTypeModel>

@{
    ViewData["Title"] = "Index";
}

<h1> Leave Type List</h1>

<p>
  <a id="CreateNew" type ="submit" class="btn btn-outline-primary" asp-action="Create"><i class="fa fa-plus"></i>  Create New </a>
</p>

<table id="tblLeaveTypes" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>

            <td>
                <a id=" Edit" type="submit" class="btn btn-outline-secondary" asp-controller="LeaveType" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edit</a>

                <a id=" Details" type="submit" class="btn btn-outline-info" asp-controller="LeaveType" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i> Details </a>

                <a id=" Delete" type="submit" class="btn btn-outline-danger" asp-controller="LeaveType" asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i> Delete </a>

            </td>
        </tr>
}
    </tbody>
</table>
